#main-grid {
    grid-area: main-grid;
    align-items: center;
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas:
    "headline-grid-item student-picture-grid-item"
    "student-quote-grid-item student-picture-grid-item"
    "student-profile-grid-item student-contact-grid-item"
    "student-profile-grid-item student-contact-grid-item"
    "experience-grid experience-grid "
    ;

}

#experience-grid {
    grid-area: experience-grid;
    display: grid;
     row-gap: 20px;
     column-gap: 50px;
     grid-template-areas: 
     "experience-code-grid-item experience-code-grid-item"
     "experience-database-grid-item experience-database-grid-item"
     "experience-web-grid-item experience-design-grid-item"
     
     
     
     ;
}

#headline {
    grid-area: headline-grid-item;
}

#student-picture {
    grid-area: student-picture-grid-item;
    text-align: center;
}

#student-quote {
    grid-area: student-quote-grid-item;
}

#student-profile {
    grid-area: student-profile-grid-item;
}

#student-contact {
    grid-area:student-contact-grid-item;
    text-align: center;
}

#experience-code{
    grid-area: experience-code-grid-item;
}
#experience-database {
    grid-area: experience-database-grid-item;
}

#experience-web {
    grid-area: experience-web-grid-item;
}

#experience-design {
    grid-area: experience-design-grid-item;
}

@media screen and (max-width: 1024px) {

    #main-grid {
        column-gap: 35px;
        grid-template-columns: 50% 50%;
        grid-template-areas:
    "headline-grid-item headline-grid-item"
    "student-quote-grid-item student-picture-grid-item"
    "student-quote-grid-item student-contact-grid-item"
    "student-profile-grid-item student-profile-grid-item"
    "experience-grid experience-grid "
    ;

    }
    #experience-grid {
        column-gap: 20px;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
     "experience-code-grid-item experience-database-grid-item"
     "experience-web-grid-item experience-design-grid-item"
     
     
     
     ;


    }
}
@media screen and (max-width: 450px) {

    #main-grid {
        grid-template-columns: min-content auto;
        
        grid-template-areas:
    "headline-grid-item"

    "student-picture-grid-item"
    "student-contact-grid-item"
    "student-quote-grid-item"

    "student-profile-grid-item"
    "experience-grid"
    ;

    }
    #experience-grid {
        grid-template-columns: auto;
        
        grid-template-areas: 
     "experience-code-grid-item"
     "experience-web-grid-item"
     "experience-database-grid-item"
     "experience-design-grid-item"
     
     
     
     ;


    }
}






 
 
